@import "tailwindcss";

@import "tailwindcss";

/* nav hover */
.nav ul li a{
  color: #4b5563;   /* gray-600 */
  cursor: pointer;
  text-decoration: none;
}

.nav ul li a:hover{
  color: #ef4f5f;   /* your red */
}
